root = true

# All files
[*]
indent_style = space
end_of_line = crlf

# Code files
[*.{cs}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom
trim_trailing_whitespace = true

# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# Space preferences
csharp_space_after_keywords_in_control_flow_statements = true

# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true

# Don't allow single line if/else blocks without braces.
csharp_prefer_braces = true:error 