<?xml version="1.0"?>
<configuration>
 <connectionStrings>
    <add name="SIPSorceryEntities" connectionString="metadata=res://*/SIPEntities.csdl|res://*/SIPEntities.ssdl|res://*/SIPEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Password=password;Persist Security Info=True;database=sipsorcery&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
 <system.webServer>
  <modules runAllManagedModulesForAllRequests="true">
   <add name="DomainServiceModule" preCondition="managedHandler"
    type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </modules>
  <validation validateIntegratedModeConfiguration="false" />
 </system.webServer>
  <appSettings>
    <add key="PersistenceStorageType" value="SQLLinqMySQL" />
    <add key="PersistenceConnStr" value="Database=sipsorcery;Data Source=localhost;User Id=root;Password=password" />
  </appSettings>
 <system.web>
	<httpModules>
   <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </httpModules>
   <membership defaultProvider="SIPSorceryMembershipProvider">
     <providers>
       <clear />
       <add name="SIPSorceryMembershipProvider" type="SIPSorcery.Web.Services.SIPSorceryMembershipProvider" />
     </providers>
   </membership>
  <compilation debug="true" targetFramework="4.0"/>
	<authentication mode="Forms"/>
	<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
 </system.web>
 <system.serviceModel>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true"  multipleSiteBindingsEnabled="true" />
   <services>
     <service name="SIPSorcery.Web.Services.SIPNotifierService" behaviorConfiguration="NotificationsServiceBehavior">
       <endpoint binding="basicHttpBinding" contract="SIPSorcery.Web.Services.INotifications"/>
       <endpoint address="notificationsmex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
     </service>
   </services>
   <behaviors>
     <serviceBehaviors>
       <behavior name="NotificationsServiceBehavior">
         <serviceMetadata httpGetEnabled="true"/>
         <serviceDebug includeExceptionDetailInFaults="true"/>
         <serviceThrottling maxConcurrentSessions="100"/>
       </behavior>
     </serviceBehaviors>
   </behaviors>
 </system.serviceModel>
</configuration>
