<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SIPSorceryEntities" connectionString="metadata=res://*/SIPEntities.csdl|res://*/SIPEntities.ssdl|res://*/SIPEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=password;Persist Security Info=True;database=sipsorcery&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>