<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="sipsoftphone" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="root.log"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="3"/>
      <param name="MaximumFileSize" value="500kB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="AudioDeviceRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="audiodevice.log"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="3"/>
      <param name="MaximumFileSize" value="500kB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="XMPPTraceRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="xmpptrace.log"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="3"/>
      <param name="MaximumFileSize" value="500kB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <appender name="SIPTraceRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="siptrace.log"/>
      <param name="AppendToFile" value="false"/>
      <param name="MaxSizeRollBackups" value="3"/>
      <param name="MaximumFileSize" value="500kB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <logger name="xmpptrace">
      <appender-ref ref="XMPPTraceRollingLogFileAppender" />
    </logger>
    <logger name="siptrace">
      <appender-ref ref="SIPTraceRollingLogFileAppender" />
    </logger>
    <logger name="audiodevice">
      <appender-ref ref="AudioDeviceRollingLogFileAppender" />
    </logger>
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
     </root>
  </log4net>
  <appSettings>
    <add key="STUNServerHostname" value="stun.ekiga.net"/>
    <add key="GoogleVoiceUsername" value="user@gmail.com"/>
    <add key="GoogleVoicePassword" value="password"/>
    <add key="SIPUsername" value="username"/>
    <add key="SIPPassword" value="password"/>
    <add key="SIPServer" value="sipsorcery.com"/>
    <add key="SIPFromName" value="Joe Bloggs"/>
  </appSettings>
  <sipsoftphone>
    <!--<sipsockets>
      <sipsocket>*:7060</sipsocket>
    </sipsockets>-->
  </sipsoftphone>
</configuration>
