<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Languages" type="Chiron.LanguageSection, Chiron"/>
    <section name="AppManifest.xaml" type="Chiron.AppManifestSection, Chiron"/>
    <section name="MimeTypes" type="Chiron.MimeTypeSection, Chiron"/>
  </configSections>

  <appSettings>
    <!--
    This sets the base URL to load language assemblies from, instead of
    packaging them in the XAP. If omitted, assemblies are copied from
    localAssemblyPath and inserted in the XAP file.
    
    For a rooted path but a relative domain name:
    <add key="urlPrefix" value="/path/to/language/assemblies" />
    
    For an absolute URL on a domain:
    <add key="urlPrefix" value="http://example.com/assemblies/" />
    -->

    <!-- the location of language assemblies on disk -->
    <add key="localAssemblyPath" value="." />
  </appSettings>

  <!--
  Information about DLR based languages.
  Chiron uses the source file's extension to determine which language's
  assemblies should be included. Multiple languages are allowed in a project,
  and new DLR-based languages can be added to the list.
  -->
  <Languages>

    <Language extensions="py" assemblies="IronPython.dll, IronPython.Modules.dll" />
    <Language extensions="rb" assemblies="IronRuby.dll, IronRuby.Libraries.dll" />
    <Language extensions="js, jsx" assemblies="Microsoft.JScript.Runtime.dll, Microsoft.JScript.Compiler.dll" />

    <!--
    Example language entry. The languageContext attribute must point at the
    class deriving from LanguageContext.
    
    <Language extensions="myext"
              assemblies="http://example.com/MyLanguage/MyLanguageRuntime.dll"
              languageContext="MyLanguage.Namespace.MyLanguageContextClass" />
    -->

  </Languages>


  <!--
  This is the template AppManifest.xaml file
  It will be included if an AppManifest.xaml file is not already present.
    
  These transformations are made:
    1. language assemblies are added at the end of Deployment.Parts
    2. the urlPrefix will be added to relative assembly paths
  -->
  <AppManifest.xaml>
    <Deployment xmlns="http://schemas.microsoft.com/client/2007/deployment"
      xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
      RuntimeVersion="2.0.30523.00"
      EntryPointAssembly="Microsoft.Scripting.Silverlight"
      EntryPointType="Microsoft.Scripting.Silverlight.DynamicApplication">
      
      <Deployment.Parts>
        <!-- Add additional assemblies here -->
      </Deployment.Parts>
    </Deployment>
  </AppManifest.xaml>

  <!--
  file extensions & MIME types recognized by Chiron.
  It will return 403 for unrecognized file types
  -->
  <MimeTypes>
    <mimeMap fileExtension=".htm"  mimeType="text/html" />
    <mimeMap fileExtension=".html" mimeType="text/html" />
    <mimeMap fileExtension=".css"  mimeType="text/css" />
    <mimeMap fileExtension=".txt"  mimeType="text/plain" />
    <mimeMap fileExtension=".xml"  mimeType="text/xml" />
    <mimeMap fileExtension=".rss"  mimeType="text/xml" />
    <mimeMap fileExtension=".gif"  mimeType="image/gif" />
    <mimeMap fileExtension=".jpg"  mimeType="image/jpeg" />
    <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
    <mimeMap fileExtension=".png"  mimeType="image/png" />
    <mimeMap fileExtension=".ico"  mimeType="image/x-icon" />
    <mimeMap fileExtension=".js"   mimeType="application/x-javascript" />
    <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml" />
    <mimeMap fileExtension=".xap"  mimeType="application/x-zip-compressed" />
    <mimeMap fileExtension=".zip"  mimeType="application/x-zip-compressed" />
    <mimeMap fileExtension=".dll"  mimeType="application/x-msdownload" />
    <mimeMap fileExtension=".pdb"  mimeType="application/x-msdownload" />
    <mimeMap fileExtension=".asf"  mimeType="video/x-ms-asf" />
    <mimeMap fileExtension=".asx"  mimeType="video/x-ms-asf" />
    <mimeMap fileExtension=".wma"  mimeType="audio/x-ms-wma" />
    <mimeMap fileExtension=".wmv"  mimeType="audio/x-ms-wmv" />
  </MimeTypes>
  
</configuration>
