<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="agsXMPP" version="1.1.1.0" targetFramework="net40" />
  <package id="GaDotNet" version="1.0.0" targetFramework="net40" />
  <package id="IronRuby" version="1.1.3" targetFramework="net40" />
  <package id="log4net" version="2.0.5" targetFramework="net4" requireReinstallation="true" />
</packages>