<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="validationrules" type="SIPSorcery.CRM.Web.WebState, SIPSorcery.CRM.Web" />
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <log4net>
    <appender name="AzureAppender" type="SIPSorcery.Azure.Service.AzureTraceAppender,SIPSorcery.Azure.Service">
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="AzureAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ProvisioningInstanceProvider" type="SIPSorcery.Web.Services.InstanceProviderExtensionElement, SIPSorcery.Web.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="SIPSorcery.Azure.Service.IsAliveService" behaviorConfiguration="IsAliveServiceBehavior">
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="SIPSorcery.Azure.Service.IIsAliveService"/>
      </service>
      <service name="SIPSorcery.Web.Services.SIPProvisioningWebService" behaviorConfiguration="ProvisioningServiceBehaviors">
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="secureHttp" contract="SIPSorcery.Web.Services.IProvisioningService" />
      </service>
      <service name="SIPSorcery.Web.Services.CallManagerPassThruService" behaviorConfiguration="CallManagerServiceBehaviors">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="SIPSorcery.Web.Services.ICallManagerServices" />
      </service>
    </services>
    <client>
      <endpoint name="CallManagerSvc" address="http://sip1.sipsorcery.com:8080/callmanager" binding="basicHttpBinding" contract="ICallManagerServiceProxy" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IsAliveServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ProvisioningServiceBehaviors">
          <ProvisioningInstanceProvider />
          <serviceMetadata httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CallManagerServiceBehaviors">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="secureHttp">
          <security mode="Transport" />
          <readerQuotas maxStringContentLength="1000000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="PersistenceStorageType" value="SQLLinqMSSQL" />
    <add key="PersistenceConnStr" value="Server=tcp:database.windows.net;Database=sipsorcery;User ID=;Password=;Trusted_Connection=False;" />
    <add key="DisabledProviderServersPattern" value="(sipsorcery|174\.129\.236\.7)" />
    <add key="NewCustomersAllowedLimit" value="10000" />
  </appSettings>
  <validationrules>
    <validationrule>
      <field>EmailAddress</field>
      <rule></rule>
    </validationrule>
    <validationrule>
      <field>CreatedFromIPAddress</field>
      <rule></rule>
    </validationrule>
  </validationrules>
</configuration>
