<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sipsoftphone" type="SIPSorcery.SoftPhone.SIPSoftPhoneState, softphone"/>
  </configSections>
  <appSettings>
    <add key="STUNServerHostname" value=""/>
    <add key="SIPUsername" value="7001"/>
    <add key="SIPPassword" value="password"/>
    <add key="SIPServer" value="192.168.11.48"/>
    <add key="SIPFromName" value="Softphone Sample"/>
    <add key="DnsServer" value=""/>
    <add key="UseAudioScope" value="false"/>
  </appSettings>
  <!--<sipsoftphone>
    <sipsockets>
      <sipsocket>192.168.11.50:7060</sipsocket>
    </sipsockets>
  </sipsoftphone>-->
</configuration>
