<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="rtpreceiver" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <rtpreceiver>
    <PublicIPAddress value="10.1.1.2" />
    <!--<RabbitMQHost value="diags.sipsorcery.com" />
    <RabbitMQUsername value="master" />
    <RabbitMQPassword value="password" />-->
    <RabbitMQHost value="localhost" />
    <RabbitMQUsername value="guest" />
    <RabbitMQPassword value="guest" />
    <RTPListenIPAddress value="10.1.1.2" />
    <SDPIPAddress value="10.1.1.2" />
    <sipsockets>
      <socket>*:5080</socket>
    </sipsockets>
  </rtpreceiver>
</configuration>
