<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="proxy" type="SIPSorcery.SIPProxy.ProxyState, sipproxy"/>
  </configSections>
  <proxy>
    <sipsockets>
      <sipsocket>127.0.0.1:5060</sipsocket>
    </sipsockets>
  </proxy>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
