<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Google.Protobuf" version="3.9.1" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.17" targetFramework="net46" />
  <package id="MySql.Data.EntityFramework" version="8.0.17" targetFramework="net46" />
  <package id="SIPSorcery" version="3.0.0" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net46" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" targetFramework="net472" />
</packages>