<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PersistenceStorageType" value="SQLLinqMySQL" />
    <add key="PersistenceConnStr" value="Database=sipsorcery;Data Source=localhost;User Id=root;Password=password;Persist Security Info=True;" />
  </appSettings>
</configuration>