<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="sipappserver" type="SIPSorcery.SIPAppServer.SIPAppServerState, sipsorcery-appsvr" />
    <section name="sipregistrar" type="SIPSorcery.SIPRegistrar.SIPRegistrarState, sipsorcery-appsvr" />
    <section name="sipregistrationagent" type="SIPSorcery.SIPRegistrationAgent.SIPRegAgentState, sipsorcery-appsvr" />
    <section name="sipproxy" type="SIPSorcery.SIPProxy.SIPProxyState, sipsorcery-appsvr" />
    <section name="sipmonitor" type="SIPSorcery.SIPMonitor.SIPMonitorState, sipsorcery-appsvr"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="root.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="3" />
      <param name="MaximumFileSize" value="500kB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="DialPlanLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="dialplan.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="error.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="5" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <logger name="dialplan">
      <appender-ref ref="DialPlanLogFileAppender" />
    </logger>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="silverlightFaults" type="SIPSorcery.SIP.App.SilverlightFaultBehavior, SIPSorcery.SIP.App, Version=0.2.0.1, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="SIPSorcery.SIP.App.CrossDomainService">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="SIPSorcery.SIP.App.ICrossDomain" behaviorConfiguration="HttpEnableBehavior" />
      </service>
      <service name="SIPSorcery.SIP.App.SIPProvisioningWebService" behaviorConfiguration="PersistorTypeBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/provisioning.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" behaviorConfiguration="SilverlightFaultBehavior" binding="basicHttpBinding" 
                   contract="SIPSorcery.SIP.App.IProvisioningService" bindingConfiguration="LargeMessagesBindingConfiguration"/>
      </service>
      <service behaviorConfiguration="GetServiceBehavior" name="SIPSorcery.Servers.CallManagerServices">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/callmanager" />
          </baseAddresses>
        </host>
        <endpoint address="" behaviorConfiguration="HttpEnableBehavior" binding="webHttpBinding" contract="SIPSorcery.Servers.ICallManagerServices" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PersistorTypeBehaviors" >
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="GetServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="SilverlightFaultBehavior">
          <silverlightFaults />
        </behavior>
        <behavior name="HttpEnableBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeMessagesBindingConfiguration">
          <readerQuotas maxStringContentLength="40000" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="PersistenceStorageType" value="XML" />
    <add key="PersistenceConnStr" value="C:\Temp\sipsorcery\xmlconfig\" />
    <!--<add key="PersistenceStorageType" value="DBLinqPostgresql" />
    <add key="PersistenceConnStr" value="Database=sipsorcery;Host=localhost;User Id=postgres;Password=password" />-->
    <!--<add key="PersistenceStorageType" value="DBLinqMySQL" />
    <add key="PersistenceConnStr" value="Database=sipsorcery;Data Source=localhost;User Id=root;Password=password" />-->
    <add key="UserDataDBType" value="MySQL" />
    <add key="UserDataDBConnStr" value="Database=sipsorcery-userdata;Data Source=localhost;User Id=root;Password=password" />
    <add key="HTTPServerBaseDirectory" value="c:\temp\sipsorcery\" />
  </appSettings>
  <!-- SIP Proxy configuration. -->
  <sipproxy>
    <MonitorLoopbackPort value="10001" />
    <ProxyScriptPath value="C:\Temp\sipsorcery\proxyscript.py" />
    <NATKeepAliveSocket value="127.0.0.1:9001" />
    <STUNServerHostname value="stun.xten.com" />
    <sipsockets>
      <socket>*:5060</socket>
      <socket protocol="tcp">*:5060</socket>
      <!--<socket protocol="tls" certificatepath="10.1.1.2.pfx">*:5061</socket>-->
    </sipsockets>
  </sipproxy>
  <!-- SIP Monitor configuration. -->
  <sipmonitor>
    <MonitorLoopbackPort value="10001" />
    <SilverlightPolicyFilePath value="C:\Temp\sipsorcery\silverlight-policy.xml" />
    <sipmonitorclientsockets>
      <socket>*:11001</socket>
      <socket>*:4502</socket>
    </sipmonitorclientsockets>
    <sipmonitormachinesockets>
      <socket>*:4503</socket>
    </sipmonitormachinesockets>
  </sipmonitor>
  <!-- SIP Registrar configuration. -->
  <sipregistrar>
    <MonitorLoopbackPort value="10001" />
    <MaximumAccountBindings value="10" />
    <NATKeepAliveRelaySocket value="127.0.0.1:9001" />
    <sipsockets>
      <sipsocket>127.0.0.1:5001</sipsocket>
    </sipsockets>
    <useragentconfigs>
      <useragent expiry="3600" contactlists="true">fring</useragent>
      <useragent expiry="3600" contactlists="false">Nokia</useragent>
      <useragent expiry="60" contactlists="false">Cisco-CP7960G/8.0</useragent>
      <useragent expiry="113">.*</useragent>
    </useragentconfigs>
  </sipregistrar>
  <!-- SIP Registration Agent configuration. -->
  <sipregistrationagent>
    <MonitorLoopbackPort value="10001" />
    <OutboundProxy value="127.0.0.1:5060" />
    <sipsockets>
      <sipsocket>127.0.0.1:5002</sipsocket>
    </sipsockets>
  </sipregistrationagent>
  <!-- SIP Application Server configuration. -->
  <sipappserver>
    <MonitorLoopbackPort value="10001" />
    <TraceDirectory value="c:\temp\sipsorcery\traces\" />
    <RubyScriptCommonPath value="c:\temp\sipsorcery\dialplan-common.rby" />
    <OutboundProxy value="127.0.0.1:5060" />
    <sipsockets>
      <socket>127.0.0.1:5065</socket>
    </sipsockets>
  </sipappserver>
</configuration>