<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="sipappserver" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys" />
    <section name="sipregistrar" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys" />
    <section name="sipregistrationagent" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys" />
    <section name="sipnotifier" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys" />
    <section name="sipproxy" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys" />
    <section name="sipmonitor" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys" />
    <section name="sshserver" type="SIPSorcery.Sys.AppState, SIPSorcery.Sys" />
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="root.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="3" />
      <param name="MaximumFileSize" value="500kB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="DialPlanLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="dialplan.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="error.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="5" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <services>
      <service name="SIPSorcery.Web.Services.CrossDomainService">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="SIPSorcery.Web.Services.ICrossDomain" behaviorConfiguration="WebBehavior" />
      </service>
      <service name="SIPSorcery.Web.Services.SIPProvisioningWebService" behaviorConfiguration="PersistorTypeBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/provisioning.svc" />
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" contract="SIPSorcery.Web.Services.IProvisioningService" bindingConfiguration="LargeMessagesBindingConfiguration" />
        <!--<endpoint address="rest" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="SIPSorcery.Web.Services.IProvisioningServiceREST" />-->
      </service>
      <service name="SIPSorcery.Web.Services.CallManagerServices" behaviorConfiguration="GetServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/callmanager.svc" />
          </baseAddresses>
        </host>
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="SIPSorcery.Web.Services.ICallManagerServices" />
      </service>
      <service name="SIPSorcery.Web.Services.SIPNotifierService" behaviorConfiguration="PubSubServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/notificationspull.svc" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="SIPSorcery.Web.Services.INotifications" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="SIPSorcery.Web.Services.INotifications" />
      </service>
      <service name="SIPSorcery.Web.Services.SIPMonitorClientManagerHost" behaviorConfiguration="InternalNotificationsBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8090/notifications" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeMessagesBindingConfiguration" contract="SIPSorcery.SIP.App.ISIPMonitorPublisher" />
      </service>
    </services>
    <client>
      <endpoint name="SIP1" address="http://localhost:8090/notifications" binding="basicHttpBinding" bindingConfiguration="LargeMessagesBindingConfiguration" contract="SIPSorcery.SIP.App.ISIPMonitorPublisher"></endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="LargeMessagesBindingConfiguration">
          <readerQuotas maxStringContentLength="40000" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="PubSub">
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PersistorTypeBehaviors">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="GetServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="PubSubServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="1" />
        </behavior>
        <behavior name="InternalNotificationsBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <microsoft.scripting>
    <languages>
      <language extensions=".py" displayName="IronPython 2.6.1" type="IronPython.Runtime.PythonContext, IronPython, Version=2.6.10920.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" names="IronPython;Python;py" />
      <language extensions=".rb" displayName="IronRuby" type="IronRuby.Runtime.RubyContext, IronRuby, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" names="IronRuby;Ruby;rb" />
    </languages>
    <options>
      <set language="Ruby" option="LibraryPaths" value="d:\Data\Dev\IronRuby\ironruby-1.0v4\lib\ironruby;d:\Data\Dev\IronRuby\ironruby-1.0v4\lib\ruby\1.8;d:\Data\Dev\IronRuby\ironruby-1.0v4\lib\ruby\site_ruby\1.8;d:\Temp\sipsorcery\gems" />
    </options>
  </microsoft.scripting>
  <connectionStrings>
    <add name="SIPSorceryEntities" connectionString="metadata=res://*/SIPEntities.csdl|res://*/SIPEntities.ssdl|res://*/SIPEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Password=tqbfjo55;Persist Security Info=True;database=sipsorcery&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EncryptedSettingsCertificateName" value="switchboard-sipsorcery" />
    <add key="PersistenceStorageType" value="SQLLinqMySQL" />
    <add key="PersistenceConnStr" value="Database=sipsorcery;Data Source=localhost;User Id=root;Password=tqbfjo55" />
    <add key="UserDataDBType" value="MySQL" />
    <add key="UserDataDBConnStr" value="Database=sipsorcery-userdata;Data Source=localhost;User Id=root;Password=tqbfjo55" />
    <add key="GoogleAnalyticsAccountCode" value="" />
    <add key="GoogleApiClientID" value="" />
    <add key="GoogleApiClientSecret" value="" />
  </appSettings>
  <!-- SIP Proxy configuration. -->
  <sipproxy>
    <MonitorLoopbackPort value="10001" />
    <ProxyScriptPath value="proxyscript.py" />
    <NATKeepAliveSocket value="127.0.0.1:9001" />
    <STUNServerHostname value="stun.ekiga.net" />
    <!--<PublicIPAddress value="58.169.67.199" />-->
    <sipsockets>
      <socket>*:5060</socket>
      <socket protocol="tcp">*:4506</socket>
      <socket protocol="tcp">*:5060</socket>
      <socket protocol="tls" certificatetype="machinestore" certificatepath="sip.sipsorcery.com">*:5061</socket>
    </sipsockets>
  </sipproxy>
  <!-- SIP Monitor configuration. -->
  <sipmonitor>
    <MonitorLoopbackPort value="10001" />
  </sipmonitor>
  <!-- SIP Registrar configuration. -->
  <sipregistrar>
    <MonitorLoopbackPort value="10001" />
    <MaximumAccountBindings value="10" />
    <NATKeepAliveRelaySocket value="127.0.0.1:9001" />
    <SwitchboardCertificateName value="sipsorcery-switchboard" />
    <sipsockets>
      <sipsocket>127.0.0.1:5001</sipsocket>
    </sipsockets>
    <useragentconfigs>
      <useragent expiry="3600" contactlists="true">fring</useragent>
      <useragent expiry="3600" contactlists="false">Nokia</useragent>
      <useragent expiry="60" contactlists="false">Cisco-CP7960G/8.0</useragent>
      <useragent expiry="113">.*</useragent>
    </useragentconfigs>
  </sipregistrar>
  <!-- SIP Registration Agent configuration. -->
  <sipregistrationagent>
    <MonitorLoopbackPort value="10001" />
    <OutboundProxy value="127.0.0.1:5060" />
    <sipsockets>
      <sipsocket>127.0.0.1:5002</sipsocket>
    </sipsockets>
  </sipregistrationagent>
  <!-- SIP Notifier Server configuration. -->
  <sipnotifier>
    <MonitorLoopbackPort value="10001" />
    <OutboundProxy value="127.0.0.1:5060" />
    <sipsockets>
      <sipsocket>127.0.0.1:5003</sipsocket>
    </sipsockets>
  </sipnotifier>
  <sshserver>
    <NSSHConfigurationFilePath value="d:\Temp\sipsorcery\NSshConfiguration.xml" />
  </sshserver>
  <!-- Sockets that will be used as SIP endpoints by the application server. -->
  <sipappserver>
    <MonitorLoopbackPort value="10001" />
    <TraceDirectory value="d:\temp\sipsorcery\siptraces\" />
    <RubyScriptCommonPath value="d:\temp\sipsorcery\dialplan-common.rby" />
    <OutboundProxy value="udp:10.1.1.2:5060" />
    <!--<DialPlanEngineImpersonationUsername value="sipsorcery-appsvr" />
    <DialPlanEngineImpersonationPassword value="password" />-->
    <DailyCallLimit value="" />
    <sipsockets>
      <socket>10.1.1.2:5065</socket>
    </sipsockets>
  </sipappserver>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>