<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="sipappserver" type="SIPSorcery.SIPAppServer.SIPAppServerState, sipsorcery-appsvr" />
    <section name="sipregistrar" type="SIPSorcery.SIPRegistrar.SIPRegistrarState, sipsorcery-appsvr" />
    <section name="sipregistrationagent" type="SIPSorcery.SIPRegistrationAgent.SIPRegAgentState, sipsorcery-appsvr" />
    <section name="sipproxy" type="SIPSorcery.SIPProxy.SIPProxyState, sipsorcery-appsvr" />
    <section name="sipmonitor" type="SIPSorcery.SIPMonitor.SIPMonitorState, sipsorcery-appsvr"/>
    <section name="sshserver" type="SIPSorcery.SSHServer.SSHServerState, sipsorcery-appsvr"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="root.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="3" />
      <param name="MaximumFileSize" value="500kB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="DialPlanLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="dialplan.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="error.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="5" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="DispatcherRollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="dispatcher.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="3" />
      <param name="MaximumFileSize" value="500kB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <logger name="sipcalldispatcher">
      <appender-ref ref="DispatcherRollingLogFileAppender" />
    </logger>
    <logger name="dialplan">
      <appender-ref ref="DialPlanLogFileAppender" />
    </logger>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <services>

      <service name="SIPSorcery.Web.Services.CrossDomainService">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="SIPSorcery.Web.Services.ICrossDomain" behaviorConfiguration="HttpEnableBehavior" />
      </service>

      <service name="SIPSorcery.Web.Services.SIPProvisioningWebService" behaviorConfiguration="PersistorTypeBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/provisioning.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" contract="SIPSorcery.Web.Services.IProvisioningService" bindingConfiguration="LargeMessagesBindingConfiguration"/>
      </service>

      <service name="SIPSorcery.Web.Services.CallManagerServices" behaviorConfiguration="GetServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/callmanager.svc" />
          </baseAddresses>
        </host>
        <endpoint address="" behaviorConfiguration="HttpEnableBehavior" binding="webHttpBinding" contract="SIPSorcery.Web.Services.ICallManagerServices" />
      </service>

      <service name="SIPSorcery.Web.Services.SIPNotifierService" behaviorConfiguration="PubSubServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8080/notificationspull.svc"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="SIPSorcery.Web.Services.INotifications" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="SIPSorcery.Web.Services.SIPMonitorClientManagerHost" behaviorConfiguration="InternalNotificationsBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8091/notifications" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="Binding1" contract="SIPSorcery.SIP.App.ISIPMonitorPublisher"/>
      </service>

    </services>

    <!--<client>
      <endpoint name="SIPSorcery.Web.Services.SIPMonitorPublisherProxy" address="net.tcp://localhost:8090/notifications"
                binding="netTcpBinding" bindingConfiguration="Binding1" contract="SIPSorcery.SIP.App.ISIPMonitorPublisher">
      </endpoint>
    </client>-->

    <bindings>
      <basicHttpBinding>
        <binding name="LargeMessagesBindingConfiguration">
          <readerQuotas maxStringContentLength="40000" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="PubSub">
          <httpTransport/>
        </binding>
      </customBinding>

      <netTcpBinding>
        <binding name="Binding1"
                 closeTimeout="00:00:10"
                 openTimeout="00:00:10"
                 receiveTimeout="00:00:10"
                 sendTimeout="00:00:10"
                 transactionFlow="false"
                 transferMode="Buffered"
                 transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10"
                 maxBufferPoolSize="524288"
                 maxBufferSize="65536"
                 maxConnections="1"
                 maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="8192"
                        maxArrayLength="16384"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>

    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="PersistorTypeBehaviors" >
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="GetServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="PubSubServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="1" />
        </behavior>
        <behavior name="InternalNotificationsBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="HttpEnableBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
  <appSettings>
    <add key="PersistenceStorageType" value="XML" />
    <add key="PersistenceConnStr" value="xmlconfig" />
    <!--<add key="PersistenceStorageType" value="DBLinqPostgresql" />
    <add key="PersistenceConnStr" value="Database=sipsorcery;Host=localhost;User Id=postgres;Password=password" />-->
    <!--<add key="PersistenceStorageType" value="SQLLinqMySQL" />
    <add key="PersistenceConnStr" value="Database=sipsorcery;Data Source=localhost;User Id=root;Password=" />-->
    <!--<add key="PersistenceStorageType" value="SQLLinqMSSQL" />
    <add key="PersistenceConnStr" value="Server=tcp:database.windows.net;Database=sipsorcery;User ID=;Password=;Trusted_Connection=False;" />-->
    <!--<add key="PersistenceStorageType" value="SimpleDBLinq" />
    <add key="PersistenceConnStr" value="AWSKeyID=;AWSSecretKey="/>-->
    <add key="UserDataDBType" value="MySQL" />
    <add key="UserDataDBConnStr" value="Database=sipsorcery-userdata;Data Source=localhost;User Id=root;Password=password" />
  </appSettings>
  <!-- SIP Proxy configuration. -->
  <sipproxy>
    <MonitorLoopbackPort value="10001" />
    <ProxyScriptPath value="c:\temp\sipsorcery\proxyscript.py" />
    <NATKeepAliveSocket value="127.0.0.1:9001" />
    <STUNServerHostname value="stun.ekiga.net" />
    <AppServerEndPointsPath value="c:\temp\sipsorcery\appservers.txt" />
    <sipsockets>
      <socket>*:5060</socket>
      <socket protocol="tcp">*:5060</socket>
    </sipsockets>
  </sipproxy>
  <!--<socket protocol="tls" certificatepath="10.1.1.2.pfx">*:5061</socket>-->
  <!-- SIP Monitor configuration. -->
  <sipmonitor>
    <MonitorLoopbackPort value="10001" />
    <NSSHConfigurationFilePath value="NSshConfiguration.xml" />
  </sipmonitor>
  <!-- SIP Registrar configuration. -->
  <sipregistrar>
    <MonitorLoopbackPort value="10001" />
    <MaximumAccountBindings value="10" />
    <NATKeepAliveRelaySocket value="127.0.0.1:9001" />
    <sipsockets>
      <sipsocket>127.0.0.1:5001</sipsocket>
    </sipsockets>
    <useragentconfigs>
      <useragent expiry="3600" contactlists="true">fring</useragent>
      <useragent expiry="3600" contactlists="false">Nokia</useragent>
      <useragent expiry="60" contactlists="false">Cisco-CP7960G/8.0</useragent>
      <useragent expiry="113">.*</useragent>
    </useragentconfigs>
  </sipregistrar>
  <!-- SIP Registration Agent configuration. -->
  <sipregistrationagent>
    <MonitorLoopbackPort value="10001" />
    <OutboundProxy value="127.0.0.1:5060" />
    <sipsockets>
      <sipsocket>127.0.0.1:5002</sipsocket>
    </sipsockets>
  </sipregistrationagent>
  <!-- SIP Application Server configuration. -->
  <sipappserver>
    <MonitorLoopbackPort value="10001" />
    <TraceDirectory value="siptraces" />
    <RubyScriptCommonPath value="dialplan-common.rby" />
    <OutboundProxy value="127.0.0.1:5060" />
    <sipsockets>
      <socket>127.0.0.1:5065</socket>
    </sipsockets>
  </sipappserver>
  <sshserver>
    <NSSHConfigurationFilePath value="C:\temp\sipsorcery\NSshConfiguration.xml" />
  </sshserver>
</configuration>