name: examples-core31 

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1 # https://github.com/actions/checkout
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1 # https://github.com/actions/setup-dotnet
      with:
        dotnet-version: 3.1.100
    - name: Build with dotnet
      run: dotnet build examples/AllExamples.sln --framework netcoreapp3.1 --configuration Release
