name: win-x64

on:
  push:
    branches:
      - master
      - net6
      
jobs:
  build:
    runs-on: windows-2022
    name: dotnet windows sipsorcery core
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: dotnet restore src/SIPSorcery.sln 
    - name: Build
      run: dotnet build src/SIPSorcery.sln -c Release --no-restore
    - name: Test
      run:  dotnet test test/unit/SIPSorcery.UnitTests.csproj -c Release --no-restore --verbosity normal -f net8.0
